@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-outline-orange ml-1">Logout</button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register"><button class="btn btn-outline-orange ml-5">Register</button></a>
    <a asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-outline-orange ml-1">Login</button></a>
}
