body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair display', serif;
    font-weight: 700;
}

.btn-outline-orange {
    color: #ff8b23;
    border-color: #ff8b23;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #ff8b23;
    border-color: #ff8b23;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
    color: #ff8b23;
    background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
    color: #fff;
    background-color: #ff8b23;
    border-color: #ff8b23;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.navbar-light .navbar-brand {
    color: #2a2a2a;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #2a2a2a;
}

.navbar-light .navbar-nav .nav-link {
    color: #2a2a2a;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff8b23 !important;
    transition: 0.3s;
}

input[type="tel"]:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(255, 139, 35, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 139, 35, 0.6) !important;
    outline: 0 none !important;
    -webkit-appearance: none !important;
}